body {
  margin: 0;
  padding: 0;
}

header {
  position: static; /* O relativo, a seconda delle tue esigenze */
  background-color: #333;
  color: #fff;
  margin: 0;
  padding: 20px;
  text-align: center;
}

button {
  background-color: #ffcc00;
  color: #333;
  padding: 14px 28px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e6b800;
}

.button-container {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 10px;
}

.login-button,
.cart-button,
.github-button,
.credits-button{
  overflow: hidden;
  height: 2rem;
  padding: 0 1rem;
  border-radius: 1rem;
  background: #3d3a4e;
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
}

.login-button:hover::before,
.cart-button:hover::before,
.github-button:hover::before,
.credits-button:hover::before {
  transform: scaleX(1);
}

.button-content {
  position: relative;
  z-index: 2; /* Incrementato il valore di z-index */
}

.icon {
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
  z-index: 3; /* Incrementato il valore di z-index */
}

.icon img {
  max-height: 100%;
  max-width: 100%;
}

.login-button::before,
.cart-button::before,
.github-button::before,
.credits-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  );
  transition: all 0.475s;
}

.login-button:hover::before {
  transform: scaleX(1);
}

.cart-button:hover::before {
  transform:scaleX(1);
}

.github-button:hover::before {
  transform: scaleX(1);
}

.credits-button:hover::before {
  transform: scaleX(1);
}

.home-link {
  text-decoration: none;
  color: #ffcc00;
  font-size: 2em;
  font-weight: bold;
}

.page-content {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
  color: #333;
}

select,
input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.griglia-locali {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
  margin-bottom: 20px;
}

.carta-locale {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  width: 80%;
  margin-bottom: 20px;
  cursor: pointer;
}

.carta-locale:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dettagli-locale {
  display: none;
  padding: 15px;
  flex-direction: column;
}

#dettagli-locale h2 {
  color: #333; /* Colore del titolo */
}

#dettagli-locale p {
  color: #666; /* Colore del testo del paragrafo */
}

.nome-locale {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.categoria-locale {
  font-size: 1.2em;
  color: #555;
  margin-bottom: 8px;
}

footer {
  margin: 0;
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

@media screen and (max-width: 600px) {
  .user-options {
    flex-direction: column;
  }

  .user-options a {
    margin-bottom: 10px;
  }

  button {
    width: 100%;
  }
}
