body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

header {
  background-color: #f39c12; /* Yellow color */
  color: #fff;
  padding: 1em;
  text-align: center;
  position: relative; /* Added to position the title */
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 1.8em;
  margin: 0 0 10px;
}

.user-options {
  margin-right: 1em; /* Adjust margin for user options */
}

.user-options a {
  color: #fff;
  margin-left: 1em;
  text-decoration: none;
  transition: color 0.3s ease; /* Smooth color transition on hover */
}

.user-options a:hover {
  color: #ecf0f1; /* Lighter color on hover */
}

section {
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#filter {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

#filter label {
  margin-right: 10px;
}

#restaurant-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.restaurant-item {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  transition: transform 0.3s ease; /* Add a subtle animation on hover */
}

.restaurant-item:hover {
  transform: scale(1.05); /* Increase size on hover */
}

.view-menu {
  display: block;
  margin-top: 10px;
  text-align: center;
  color: #3498db;
  text-decoration: none;
  transition: color 0.3s ease; /* Smooth color transition on hover */
}

.view-menu:hover {
  color: #2980b9; /* Darker color on hover */
}

#purchasable-items {
  margin-top: 20px;
}

#purchasable-items .item {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  transition: transform 0.3s ease; /* Add a subtle animation on hover */
}

#purchasable-items button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth color transition on hover */
}

#purchasable-items button:hover {
  background-color: #2980b9; /* Darker color on hover */
}
